@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617;
  /* Slate 950 */
  color: #e2e8f0;
  /* Slate 200 */
}

#root {
  width: 100%;
}